@import url(bootstrap.css);
@import url(admin.css);

/************************************************
*admin_page*
************************************************/
.Manage_Markups_main{width:752px; height:auto; margin:0 auto; margin-top:12px; margin-bottom:22px;}
.Manage_Markups_left{width:209px; height:auto; float:left; padding-left:31px; margin-top: 20px;  }
.Manage_Markups_left_top{width:170px; height:23px; float:left; background:url(../../images/Manage_Markup_img_top.jpg) no-repeat; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#000000; font-weight:bold; text-align:center; padding-top:4px;}
.Manage_Markups_left_middle{width:209px; height:auto; float:left; background:url(../../images/Manage_Markup_mid_img.jpg) repeat-y;}
.Manage_Markups_left_bootom{width:209px; height:8px; float:left;}

.Manage_Markups_text_main{width:196px; height:auto; float:left; margin-left:8px; margin-top:8px;}

.Manage_Markups_icon{width:21px; height:20px; float:left;}
.Manage_Markups_text{width:170px; height:auto; float:left; padding-left:3px; font-family:Arial, Helvetica, sans-serif; font-size:14px; padding-top:3px;}
.Manage_Markups_text a{color: #000000;text-decoration: none;}
.Manage_Markups_text a:hover{ font-weight: bold; text-decoration: underline;}
